.counterContainer{
    display: block;
    width: 200px;
    margin: auto;
    border: 2px solid black ;
    padding: 14px 20px;
    text-align: center;
    border-radius: 20px;
    background: rgb(245, 243, 243);
    margin-top: 100px;

}

.counterContainer h1,.counterBtns,p{
    background: rgb(245, 243, 243);
}

#increment,#decrement{
    font-size: 20px;
    padding: 3px 10px;
    border: 1.5px solid rgb(165, 163, 163);
    width: 80px;
    border-radius: 10px;
    background:linear-gradient(to top,#c4c5c7 0%,#dcdddf 52%,#ebebeb 100%)
}

#decrement{
    padding: 3px 12px;
}

.counterBtns{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.counterContainer p{
    margin-top: 30px;
    font-size: 1.3rem;
}

#increment:hover,#decrement:hover{
    transform: scale(1.2);
}