*{
    margin: 0;
    padding: 0;
}
.container{
    display: block;
    width:max-content;
    height: max-content;
    margin: 50px auto;
}
.radioBtns{
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

.radioBtns label{
    margin-right: 10px;
    margin-left: 5px;
}
